
<!DOCTYPE html>

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>16. 更多 &#8212; A-Byte-of-Python-BNU 0.1 文档</title>
    <link rel="stylesheet" href="_static/nature.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    <script id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
    <script src="_static/jquery.js"></script>
    <script src="_static/underscore.js"></script>
    <script src="_static/doctools.js"></script>
    <script src="_static/language_data.js"></script>
    <link rel="index" title="索引" href="genindex.html" />
    <link rel="search" title="搜索" href="search.html" />
    <link rel="next" title="17. 进阶：面向对象编程" href="13.object_oriented_programming.html" />
    <link rel="prev" title="15. 进阶：异常" href="15.exception.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>导航</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="总目录"
             accesskey="I">索引</a></li>
        <li class="right" >
          <a href="13.object_oriented_programming.html" title="17. 进阶：面向对象编程"
             accesskey="N">下一页</a> |</li>
        <li class="right" >
          <a href="15.exception.html" title="15. 进阶：异常"
             accesskey="P">上一页</a> |</li>
        <li class="nav-item nav-item-0"><a href="index.html">A-Byte-of-Python-BNU 0.1 文档</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href=""><span class="section-number">16. </span>更多</a></li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="id1">
<h1><span class="section-number">16. </span>更多<a class="headerlink" href="#id1" title="永久链接至标题">¶</a></h1>
<p>到现在，我们的介绍已经涵盖了你将使用到的 Python
的大部分方面。在本章中，我们将介绍一些其它的方面，来让我们对 Python
的认识更加全面。</p>
<div class="section" id="id2">
<h2><span class="section-number">16.1. </span>传递元组<a class="headerlink" href="#id2" title="永久链接至标题">¶</a></h2>
<p>你可曾希望从一个函数中返回两个不同的值？你能做到的。只需要使用一个元组。</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;&gt;&gt; </span><span class="k">def</span> <span class="nf">get_error_details</span><span class="p">():</span>
<span class="gp">... </span>    <span class="k">return</span> <span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="s1">&#39;details&#39;</span><span class="p">)</span>
<span class="gp">...</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">errnum</span><span class="p">,</span> <span class="n">errstr</span> <span class="o">=</span> <span class="n">get_error_details</span><span class="p">()</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">errnum</span>
<span class="go">2</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">errstr</span>
<span class="go">&#39;details&#39;</span>
</pre></div>
</div>
<p>要注意到 <code class="docutils literal notranslate"><span class="pre">a,</span> <span class="pre">b</span> <span class="pre">=</span> <span class="pre">&lt;some</span> <span class="pre">expression&gt;</span></code>
的用法会将表达式的结果解释为具有两个值的一个元组。</p>
<p>这也意味着在 Python 中交换两个变量的最快方法是：</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;&gt;&gt; </span><span class="n">a</span> <span class="o">=</span> <span class="mi">5</span><span class="p">;</span> <span class="n">b</span> <span class="o">=</span> <span class="mi">8</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">a</span><span class="p">,</span> <span class="n">b</span>
<span class="go">(5, 8)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">a</span><span class="p">,</span> <span class="n">b</span> <span class="o">=</span> <span class="n">b</span><span class="p">,</span> <span class="n">a</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">a</span><span class="p">,</span> <span class="n">b</span>
<span class="go">(8, 5)</span>
</pre></div>
</div>
</div>
<div class="section" id="id3">
<h2><span class="section-number">16.2. </span>特殊方法<a class="headerlink" href="#id3" title="永久链接至标题">¶</a></h2>
<p>诸如 <code class="docutils literal notranslate"><span class="pre">__init__</span></code> 和 <code class="docutils literal notranslate"><span class="pre">__del__</span></code> 等一些方法对于类来说有特殊意义。</p>
<p>特殊方法用来模拟内置类型的某些行为。举个例子，如果你希望为你的类使用
<code class="docutils literal notranslate"><span class="pre">x[key]</span></code>
索引操作（就像你在列表与元组中使用的那样），那么你所需要做的只不过是实现
<code class="docutils literal notranslate"><span class="pre">__getitem__()</span></code> 方法，然后你的工作就完成了。如果你试图理解它，就想想
Python 就是对 <code class="docutils literal notranslate"><span class="pre">list</span></code> 类这样做的！</p>
<p>下面的表格列出了一些有用的特殊方法。如果你想了解所有的特殊方法，请<a class="reference external" href="http://docs.python.org/3/reference/datamodel.html#special-method-names">参阅手册</a>。</p>
<ul class="simple">
<li><p><code class="docutils literal notranslate"><span class="pre">__init__(self,</span> <span class="pre">...)</span></code></p>
<ul>
<li><p>这一方法在新创建的对象被返回准备使用时被调用。</p></li>
</ul>
</li>
<li><p><code class="docutils literal notranslate"><span class="pre">__del__(self)</span></code></p>
<ul>
<li><p>这一方法在对象被删除之前调用（它的使用时机不可预测，所以避免使用它）</p></li>
</ul>
</li>
<li><p><code class="docutils literal notranslate"><span class="pre">__str__(self)</span></code></p>
<ul>
<li><p>当我们使用 <code class="docutils literal notranslate"><span class="pre">print</span></code> 函数时，或 <code class="docutils literal notranslate"><span class="pre">str()</span></code> 被使用时就会被调用。</p></li>
</ul>
</li>
<li><p><code class="docutils literal notranslate"><span class="pre">__lt__(self,</span> <span class="pre">other)</span></code></p>
<ul>
<li><p>当_小于_运算符（&lt;）被使用时被调用。类似地，使用其它所有运算符（+、&gt;
等等）时都会有特殊方法被调用。</p></li>
</ul>
</li>
<li><p><code class="docutils literal notranslate"><span class="pre">__getitem__(self,</span> <span class="pre">key)</span></code></p>
<ul>
<li><p>使用 <code class="docutils literal notranslate"><span class="pre">x[key]</span></code> 索引操作时会被调用。</p></li>
</ul>
</li>
<li><p><code class="docutils literal notranslate"><span class="pre">__len__(self)</span></code></p>
<ul>
<li><p>当针对序列对象使用内置 <code class="docutils literal notranslate"><span class="pre">len()</span></code> 函数时会被调用</p></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="id4">
<h2><span class="section-number">16.3. </span>单语句块<a class="headerlink" href="#id4" title="永久链接至标题">¶</a></h2>
<p>我们已经见识过每一个语句块都由其自身的缩进级别与其它部分相区分。
是这样没错，不过有一个小小的警告。如果你的语句块只包括单独的一句语句，那么你可以在同一行指定它，例如条件语句与循环语句。下面这个例子应该能比较清楚地解释：</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;&gt;&gt; </span><span class="n">flag</span> <span class="o">=</span> <span class="kc">True</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">if</span> <span class="n">flag</span><span class="p">:</span> <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Yes&#39;</span><span class="p">)</span>
<span class="gp">...</span>
<span class="go">Yes</span>
</pre></div>
</div>
<p>注意，单个语句是在原地立即使用的，它不会被看作一个单独的块。尽管，你可以通过这种方式来使你的程序更加小巧，但除非是为了检查错误，我强烈建议你避免使用这种快捷方法，这主要是因为如果你不小心使用了一个“恰到好处”的缩进，它就很容易添加进额外的语句。</p>
</div>
<div class="section" id="lambda">
<h2><span class="section-number">16.4. </span>Lambda 表格<a class="headerlink" href="#lambda" title="永久链接至标题">¶</a></h2>
<p><code class="docutils literal notranslate"><span class="pre">lambda</span></code> 语句可以创建一个新的函数对象。从本质上说，<code class="docutils literal notranslate"><span class="pre">lambda</span></code>
需要一个参数，后跟一个表达式作为函数体，这一表达式执行的值将作为这个新函数的返回值。</p>
<p>案例（保存为 <code class="docutils literal notranslate"><span class="pre">more_lambda.py</span></code>）：</p>
<pre><code class="lang-python">{% include "./programs/more_lambda.py" %}</code></pre><p>输出：</p>
<pre><code>{% include "./programs/more_lambda.txt" %}</code></pre><p><strong>它是如何工作的</strong></p>
<p>要注意到一个 <code class="docutils literal notranslate"><span class="pre">list</span></code> 的 <code class="docutils literal notranslate"><span class="pre">sort</span></code> 方法可以获得一个 <code class="docutils literal notranslate"><span class="pre">key</span></code>
参数，用以决定列表的排序方式（通常我们只知道升序与降序）。在我们的案例中，我们希望进行一次自定义排序，为此我们需要编写一个函数，但是又不是为函数编写一个独立的
<code class="docutils literal notranslate"><span class="pre">def</span></code> 块，只在这一个地方使用，因此我们使用 Lambda
表达式来创建一个新函数。</p>
</div>
<div class="section" id="id5">
<h2><span class="section-number">16.5. </span>列表推导<a class="headerlink" href="#id5" title="永久链接至标题">¶</a></h2>
<p>列表推导（List
Comprehension）用于从一份现有的列表中得到一份新列表。想象一下，现在你已经有了一份数字列表，你想得到一个相应的列表，其中的数字在大于
2 的情况下将乘以 2。列表推导就是这类情况的理想选择。</p>
<p>案例（保存为 <code class="docutils literal notranslate"><span class="pre">more_list_comprehension.py</span></code>）：</p>
<pre><code class="lang-python">{% include "./programs/more_list_comprehension.py" %}</code></pre><p>输出：</p>
<pre><code>{% include "./programs/more_list_comprehension.txt" %}</code></pre><p><strong>它是如何工作的</strong></p>
<p>在本案例中，当满足了某些条件时（<code class="docutils literal notranslate"><span class="pre">if</span> <span class="pre">i</span> <span class="pre">&gt;</span> <span class="pre">2</span></code>），我们进行指定的操作（<code class="docutils literal notranslate"><span class="pre">2*i</span></code>），以此来获得一份新的列表。要注意到原始列表依旧保持不变。</p>
<p>使用列表推导的优点在于，当我们使用循环来处理列表中的每个元素并将其存储到新的列表中时时，它能减少样板（Boilerplate）代码的数量。</p>
</div>
<div class="section" id="id6">
<h2><span class="section-number">16.6. </span>在函数中接收元组与字典<a class="headerlink" href="#id6" title="永久链接至标题">¶</a></h2>
<p>有一种特殊方法，即分别使用 <code class="docutils literal notranslate"><span class="pre">*</span></code> 或 <code class="docutils literal notranslate"><span class="pre">**</span></code>
作为元组或字典的前缀，来使它们作为一个参数为函数所接收。当函数需要一个可变数量的实参时，这将颇为有用。</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;&gt;&gt; </span><span class="k">def</span> <span class="nf">powersum</span><span class="p">(</span><span class="n">power</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">):</span>
<span class="gp">... </span>    <span class="sd">&#39;&#39;&#39;Return the sum of each argument raised to the specified power.&#39;&#39;&#39;</span>
<span class="gp">... </span>    <span class="n">total</span> <span class="o">=</span> <span class="mi">0</span>
<span class="gp">... </span>    <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="n">args</span><span class="p">:</span>
<span class="gp">... </span>        <span class="n">total</span> <span class="o">+=</span> <span class="nb">pow</span><span class="p">(</span><span class="n">i</span><span class="p">,</span> <span class="n">power</span><span class="p">)</span>
<span class="gp">... </span>    <span class="k">return</span> <span class="n">total</span>
<span class="gp">...</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">powersum</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">,</span> <span class="mi">4</span><span class="p">)</span>
<span class="go">25</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">powersum</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="mi">10</span><span class="p">)</span>
<span class="go">100</span>
</pre></div>
</div>
<p>因为我们在 <code class="docutils literal notranslate"><span class="pre">args</span></code> 变量前添加了一个 <code class="docutils literal notranslate"><span class="pre">*</span></code>
前缀，函数的所有其它的额外参数都将传递到 <code class="docutils literal notranslate"><span class="pre">args</span></code>
中，并作为一个元组予以储存。如果采用的是 <code class="docutils literal notranslate"><span class="pre">**</span></code>
前缀，则额外的参数将被视为字典的键值—值配对。</p>
</div>
<div class="section" id="assert">
<h2><span class="section-number">16.7. </span><code class="docutils literal notranslate"><span class="pre">assert</span></code> 语句<a class="headerlink" href="#assert" title="永久链接至标题">¶</a></h2>
<p><code class="docutils literal notranslate"><span class="pre">assert</span></code>
语句用以断言（Assert）某事是真的。例如说你非常确定你正在使用的列表中至少包含一个元素，并想确认这一点，如果其不是真的，就抛出一个错误，<code class="docutils literal notranslate"><span class="pre">assert</span></code>
语句就是这种情况下的理想选择。当语句断言失败时，将会抛出
<code class="docutils literal notranslate"><span class="pre">AssertionError</span></code>。</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="gp">&gt;&gt;&gt; </span><span class="n">mylist</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;item&#39;</span><span class="p">]</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">assert</span> <span class="nb">len</span><span class="p">(</span><span class="n">mylist</span><span class="p">)</span> <span class="o">&gt;=</span> <span class="mi">1</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">mylist</span><span class="o">.</span><span class="n">pop</span><span class="p">()</span>
<span class="go">&#39;item&#39;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">assert</span> <span class="nb">len</span><span class="p">(</span><span class="n">mylist</span><span class="p">)</span> <span class="o">&gt;=</span> <span class="mi">1</span>
<span class="gt">Traceback (most recent call last):</span>
  File <span class="nb">&quot;&lt;stdin&gt;&quot;</span>, line <span class="m">1</span>, in <span class="n">&lt;module&gt;</span>
<span class="gr">AssertionError</span>
</pre></div>
</div>
<p>你应该明智地选用 <code class="docutils literal notranslate"><span class="pre">assert</span></code>
语句。在大多数情况下，它好过捕获异常，也好过定位问题或向用户显示错误信息然后退出。</p>
</div>
<div class="section" id="id7">
<h2><span class="section-number">16.8. </span>装饰器<a class="headerlink" href="#id7" title="永久链接至标题">¶</a></h2>
<p>装饰器（Decorators）是应用包装函数的快捷方式。这有助于将某一功能与一些代码一遍又一遍地“包装”。举个例子，我为自己创建了一个
<code class="docutils literal notranslate"><span class="pre">retry</span></code>
装饰器，这样我可以将其运用到任何函数之中，如果在一次运行中抛出了任何错误，它就会尝试重新运行，直到最大次数
5
次，并且每次运行期间都会有一定的延迟。这对于你在对一台远程计算机进行网络调用的情况十分有用：</p>
<pre><code class="lang-python">{% include "./programs/more_decorator.py" %}</code></pre><p>输出：</p>
<pre><code>{% include "./programs/more_decorator.txt" %}</code></pre><p><strong>它是如何工作的</strong></p>
<p>请参阅：</p>
<ul class="simple">
<li><p><a class="reference external" href="http://www.ibm.com/developerworks/linux/library/l-cpdecor.html">http://www.ibm.com/developerworks/linux/library/l-cpdecor.html</a></p></li>
<li><p><a class="reference external" href="http://toumorokoshi.github.io/dry-principles-through-python-decorators.html">http://toumorokoshi.github.io/dry-principles-through-python-decorators.html</a></p></li>
</ul>
</div>
<div class="section" id="python-2-python-3">
<h2><span class="section-number">16.9. </span>Python 2 与 Python 3 的不同<a class="headerlink" href="#python-2-python-3" title="永久链接至标题">¶</a></h2>
<p>请参阅：</p>
<ul class="simple">
<li><p><a class="reference external" href="http://pythonhosted.org/six/">“Six” library</a></p></li>
<li><p><a class="reference external" href="http://lucumr.pocoo.org/2013/5/21/porting-to-python-3-redux/">Porting to Python 3 Redux by
Armin</a></p></li>
<li><p><a class="reference external" href="http://pydanny.com/experiences-with-django-python3.html">Python 3 experience by
PyDanny</a></p></li>
<li><p><a class="reference external" href="https://docs.djangoproject.com/en/dev/topics/python3/">Official Django Guide to Porting to Python
3</a></p></li>
<li><p><a class="reference external" href="http://www.reddit.com/r/Python/comments/22ovb3/what_are_the_advantages_to_python_3x/">Discussion on What are the advantages to python
3.x?</a></p></li>
</ul>
</div>
<div class="section" id="id8">
<h2><span class="section-number">16.10. </span>总结<a class="headerlink" href="#id8" title="永久链接至标题">¶</a></h2>
<p>我们在本章中介绍了有关 Python 的更多功能。虽然我们还未涵盖到 Python
的所有功能，不过在这一阶段，我们已经涉猎了大多数你将在实践中遇到的内容。这足以让你开始编写任何你所期望的程序。</p>
</div>
</div>


            <div class="clearer"></div>
          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">目录</a></h3>
  <ul>
<li><a class="reference internal" href="#">16. 更多</a><ul>
<li><a class="reference internal" href="#id2">16.1. 传递元组</a></li>
<li><a class="reference internal" href="#id3">16.2. 特殊方法</a></li>
<li><a class="reference internal" href="#id4">16.3. 单语句块</a></li>
<li><a class="reference internal" href="#lambda">16.4. Lambda 表格</a></li>
<li><a class="reference internal" href="#id5">16.5. 列表推导</a></li>
<li><a class="reference internal" href="#id6">16.6. 在函数中接收元组与字典</a></li>
<li><a class="reference internal" href="#assert">16.7. <code class="docutils literal notranslate"><span class="pre">assert</span></code> 语句</a></li>
<li><a class="reference internal" href="#id7">16.8. 装饰器</a></li>
<li><a class="reference internal" href="#python-2-python-3">16.9. Python 2 与 Python 3 的不同</a></li>
<li><a class="reference internal" href="#id8">16.10. 总结</a></li>
</ul>
</li>
</ul>

  <h4>上一个主题</h4>
  <p class="topless"><a href="15.exception.html"
                        title="上一章"><span class="section-number">15. </span>进阶：异常</a></p>
  <h4>下一个主题</h4>
  <p class="topless"><a href="13.object_oriented_programming.html"
                        title="下一章"><span class="section-number">17. </span>进阶：面向对象编程</a></p>
  <div role="note" aria-label="source link">
    <h3>本页</h3>
    <ul class="this-page-menu">
      <li><a href="_sources/17.more.rst.txt"
            rel="nofollow">显示源代码</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">快速搜索</h3>
    <div class="searchformwrapper">
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="转向" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>导航</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="总目录"
             >索引</a></li>
        <li class="right" >
          <a href="13.object_oriented_programming.html" title="17. 进阶：面向对象编程"
             >下一页</a> |</li>
        <li class="right" >
          <a href="15.exception.html" title="15. 进阶：异常"
             >上一页</a> |</li>
        <li class="nav-item nav-item-0"><a href="index.html">A-Byte-of-Python-BNU 0.1 文档</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href=""><span class="section-number">16. </span>更多</a></li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; 版权所有 2020, BNU-Astro.
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 3.2.1.
    </div>
  </body>
</html>